* {
    margin:0;
}

.navbar{
    width:98.9vw;
    height:70px;
    display:flex;
    position:fixed;
    top:0px;
    z-index: 10;

}

.master{
    width:98.9vw;
    height:auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home{
    box-sizing:border-box;
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(90deg,#61A5C2, #89C2D9); */
}

.page-scroll{
    box-sizing:border-box;
    width:100%;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    /* background: linear-gradient(90deg,#61A5C2, #89C2D9); */
}

.background{
    background:url('./img/background.jpg');
    position: relative;
    width: 100%;
    height: 100%;
    background-position: center;
}

.layerBlue{
    background: linear-gradient(90deg,#61a5c2, #89C2D9);
    opacity:0.9;
    position: relative;
    width: 100%;
    height: auto%;
    background-position: center;
}

.layerDarkBlue{
    background-color:#014F86;
    opacity:0.9;
    position: relative;
    width: 100%;
    height: auto%;
    background-position: center;
}

/* .openMenu{
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    height: 30px;
    display: flex;
    flex-direction: column;
} */

.openMenu{
    height: 50px;
    width:60px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 5px;
    transition: 0.5s;
}

.openMenu:hover{
    opacity:0.5;
    background-color: #014F86;
}

.openMenuLine{
    /* margin-left:10px;
    margin-top:10px; */
    height:3px;
    width:80%;
    background-color:#F5F5F5;
}

.menuPos{
    margin-left: 0px;
    display: flex;
    align-items: center;
}

.contacts{
    width:100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.navbarContact{
    margin-right:1em;
    width:40px;
    height: auto;
    display: flex;
    justify-content: space-evenly;
    transition: 0.3s;
}

.navbarContact:hover{
    opacity:0.5;
    background-color: #014F86;
    border-radius: 3px;
    transition: 0.3s;
}

.milieu{
    display: flex;
    height:calc(100vh - 70px);
    width:100%;
    padding-top:70px;
}

.milieu-scroll{
    display: flex;
    height:100vh;
    width:100%;
}

.graph1{
    margin-left:1em;
    display: flex;
    justify-content: space-evenly;
    width:5%;
}

.graph2{
    margin-right:1em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:5%;
}

.graph3{
    margin-left:1em;
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width:5%;
}

.graph4{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width:5%;
}

.corps{
    display: flex;
    flex-direction: column;
    width:100%;
}

.corpsGrey{
    display: flex;
    flex-direction: column;
    width:90%;
}


.entete{
    padding-top:10%;
    padding-left:10%;
    padding-bottom:5%;
    height:35%;
    display: flex;
    flex-direction: column;
}

.entete p{
    font-family: "Anonymous Pro", monospace;
    color:#F5F5F5;
}



.Nom{
    font-size:5em;
}

.Job{
    font-size:3.5em;
}

.Lieu{
    font-size:2.5em;
    font-style:italic;
}

.intro{
    margin-left:20%;
    margin-right:10%;
    height:50%;
    width:60%;
    justify-content: center;
    text-align: center;

}

.intro p{
    font-family: "Anonymous Pro", monospace;
    color:#F5F5F5;
    font-size: 1.8em;
}

.cvTitre{
    font-family: "Anonymous Pro", monospace;
    color:#F5F5F5;
    font-size:2.3em;
}

.cvJob{
    font-family: "Anonymous Pro", monospace;
    color:#F5F5F5;
    font-size:1.6em;
}

.cvLieu{
    font-family: "Anonymous Pro", monospace;
    color:#F5F5F5;
    font-size:1.1em;
    font-style: italic;

}

.margin10{
    margin-left:1vw;
}

.margin30{
    margin-left:10vw;
}

.margin50{
    margin-left:20vw;
}

.introDesc span{
    color:#014F86;
    font-weight: 700;
}

.sidebar{
    height:100%;
    width:30px;
    display: flex;
    align-content: flex-end;
}

.downIcon{
    opacity:0.8;
    object-fit: cover;
    height:30px;
    width: auto;
    position:fixed;
    bottom:1em;
    right:1em;
    z-index: 10;
}

#reseaux{
    width:100%;
    height:100%;
}

.myMenu{
    width:350px;
    height:240px;
    opacity:0.90;
    background-color:#89C2D9;
    top: 55px;
    left: -100%;
    border-radius: 10px;
    transition:0.5s;
    display:flex;
    flex-direction: column;
    align-items: center;
    position:fixed;
    z-index: 10;
}

.myMenuSwitch{
    left:0vw;
    transition:0.5s;
}

.myMenuLigne{
width:90%;
height:0.1px;
background-color:#F5F5F5;
margin-bottom:2px;
margin-top:2px;
}

.myMenuText{
    display: flex;
    height:50px;
    width:90%;
    font-family: "Anonymous Pro", monospace;
    color:#F5F5F5;
    /* color:#1c6090; */
    font-size:2em;
    transition:0.2s;
    align-items: center;
    justify-content: center;
}

.myMenuText:hover{
    opacity:0.8;
    border-radius: 3px;
    /* background-color: #014F86; */
    background-color: #014F86;
    color:#F5F5F5;
    font-size:2.3em;
    transition:0.3s;
}

.myMenuText p{
margin:10px;
}

.myMenuContact{
    height:50px;
    width:90%;
    justify-content: center;
    align-items: center;
    display:flex;
}

.menuContactDiv{
    width:70px;
    height: 30px;
    display: flex;
    justify-content: space-evenly;
    transition: 0.3;
}

.menuContactDiv:hover{
    height: 40px;
}

.darkLightBlue{
    background: linear-gradient(90deg,#0d0f14, #0d0f14);
    opacity:0.9;
}

.darkLightDarkBlue{
    background-color: #00233c;
    opacity:0.9;
}

.darkLightMenu{
    background-color:#181818;
    opacity:0.9;
}

@media screen and (max-width:767px){

    .navbar{
        width:100vw;
    }
    
    .master{
        width:100vw;
    }

    .entete{
        padding-top: 20%;
        padding-left: 10%;
        padding-bottom: 0%;
    }

    .Nom{
        font-size:3.5em;
    }
    
    .Job{
        font-size:2em;
    }
    
    .Lieu{
        font-size:1.5em;
        font-style:italic;
    }

    .intro p{;
        font-size: 1.2em;
    }

    .cvTitre{
        font-size:1.7em;
    }
    
    .cvJob{
        font-size:1.1em;
    }
    
    .cvLieu{
        font-size:0.8em;
        font-style: italic;
    }

}